<div *ngIf="productAction.event.action === addProductAction">
  <form [formGroup]="addProductForm" (ngSubmit)="handleSubmitAddProduct()">
    <div class="p-fluid formgrid grid">
      <div class="field col-12 md:col-6">
        <label for="name"> Nome <span class="required">*</span> </label>
        <input id="name" pInputText formControlName="name" required />
      </div>
      <div class="field col-12 md:col-6">
        <label for="price"> Preço <span class="required">*</span> </label>
        <input id="price" pInputText formControlName="price" required />
      </div>
      <div class="field col-12">
        <label for="description">
          Descrição <span class="required">*</span>
        </label>
        <input
          id="description"
          pInputText
          formControlName="description"
          required
        />
      </div>
      <div class="field col-12 md:col-4">
        <label for="amount"> Quantidade <span class="required">*</span> </label>
        <input id="amount" pInputNumber formControlName="amount" required />
      </div>
      <div class="field col-12 md:col-6">
        <label for="thumbnail">Thumbnail</label>
        <input
          id="thumbnail"
          type="file"
          (change)="onFileSelected($event)"
          accept="image/*"
        />
      </div>
      <div class="field col-12 flex justify-content-center">
        <p-button
          [disabled]="!addProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="productAction.event.action === editProductAction">
  <form [formGroup]="editProductForm" (ngSubmit)="handleSubmitEditProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Nome" formControlName="name" />
      <input pInputText placeholder="Preço" formControlName="price" />
      <input pInputText placeholder="Descrição" formControlName="description" />
      <input pInputNumber placeholder="Quantidade" formControlName="amount" />
      <div class="field col-12 md:col-6">
        <label for="thumbnail">Thumbnail</label>
        <input
          id="thumbnail"
          type="file"
          (change)="onFileSelected($event)"
          accept="image/*"
        />
      </div>

      <div
        class="flex flex-row justify-content-center align-content-center align-items-center m-1"
      >
        <p-button
          [disabled]="!editProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="productAction.event.action === saleProductAction">
  <form [formGroup]="saleProductForm" (ngSubmit)="handleSubmitSaleProduct()">
    <div class="card p-fluid">
      <div class="sale-row">
        <p-dropdown
          class="w-75"
          [options]="productDatas"
          [(ngModel)]="saleProductSelected"
          optionLabel="name"
          optionValue="id"
          formControlName="product_id"
          placeholder="Selecione um produto"
        ></p-dropdown>

        <input
          pInputNumber
          class="w-25"
          placeholder="Quantidade"
          formControlName="amount"
        />
      </div>

      <div class="button-row">
        <p-button
          [disabled]="!saleProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>
