<div
  class="grid flex justify-content-center align-items-center"
  style="min-height: 100vh"
>
  <div class="col-4-2">
    <div class=""></div>
    <!-- LOGIN -->
    <form [formGroup]="loginForm" (ngSubmit)="this.onSubmitLoginForm()">
      <p-card
        styleClass="mt-10"
        header="Login"
        subheader="Faça Login com seus dados"
        *ngIf="loginCard"
      >
        <div
          class="flex justify-content-center align-content-center text-align-center"
        >
          <input
            type="email"
            pInputText
            placeholder="E-mail"
            formControlName="email"
          />
        </div>
        <div
          class="flex justify-content-center align-content-center text-align-center"
        >
          <input
            type="password"
            pInputText
            placeholder="Senha"
            formControlName="password"
          />
        </div>
        <div class="card flex justify-content-center mt-3">
          <button
            type="submit"
            pButton
            pRipple
            label="Login"
            [disabled]="!this.loginForm.valid"
          ></button>
        </div>
        <span
          class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
          (click)="loginCard = !loginCard"
          style="cursor: pointer"
        >
          Criar conta
        </span>
      </p-card>
    </form>
    <!-- SIGNUP -->
    <form [formGroup]="signUpForm" (ngSubmit)="this.onSubmitsignUpForm()">
      <p-card
        styleClass="mt-10"
        header="Criar conta"
        subheader="Crie já sua conta gratuita"
        *ngIf="!loginCard"
      >
        <div
          class="flex justify-content-center align-content-center text-align-center"
        >
          <input
            type="text"
            pInputText
            placeholder="Nome"
            formControlName="name"
          />
        </div>
        <div
          class="flex justify-content-center align-content-center text-align-center"
        >
          <input
            type="email"
            pInputText
            placeholder="E-mail"
            formControlName="email"
          />
        </div>
        <div
          class="flex justify-content-center align-content-center text-align-center"
        >
          <input
            type="password"
            pInputText
            placeholder="Senha"
            formControlName="password"
          />
        </div>
        <div>
          <!-- <label>Endereço</label> -->
          <input
            pInputText
            formControlName="address"
            placeholder="Rua, nº, cidade…"
          />
        </div>
        <div>
          <!-- <label>Contato</label> -->
          <input
            pInputText
            formControlName="contact"
            placeholder="Telefone ou WhatsApp"
          />
        </div>
        <div class="card flex justify-content-center mt-3">
          <button
            type="submit"
            pButton
            pRipple
            label="Criar conta"
            [disabled]="!this.signUpForm.valid"
          ></button>
        </div>
        <span
          class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
          (click)="loginCard = !loginCard"
          style="cursor: pointer"
        >
          Fazer Login
        </span>
      </p-card>
    </form>
  </div>
</div>
