.cart-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 4px;
}

.item-info p {
  margin: 0.2rem 0;
}

.subtotal-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.paypal-container {
  display: flex;
  justify-content: center;
}
