<app-toolbar-navigation></app-toolbar-navigation>
<h1>Produtos à Venda</h1>

<div class="product-grid">
  <div class="product-card" *ngFor="let jewel of productDatas">
    <!-- <img [src]="jewel.thumbnail" alt="{{ jewel.name }}" class="product-img" /> -->
    <div class="product-name">{{ jewel.name }}</div>
    <div class="product-name">{{ jewel.description }}</div>
    <div class="product-price">
      {{ jewel.price | currency : "BRL" : "symbol" : "1.2-2" }}
    </div>
    <div class="product-buttons">
      <button
        pButton
        type="button"
        icon="pi pi-heart"
        class="p-button-rounded"
        [ngClass]="{
          'p-button-danger': likedProductsIds.includes(jewel._id),
          'p-button-outlined': !likedProductsIds.includes(jewel._id)
        }"
        (click)="toggleLike(jewel._id)"
      ></button>

      <button
        pButton
        type="button"
        icon="pi pi-shopping-cart"
        class="p-button-rounded p-button-success"
        (click)="addToCart(jewel._id)"
      ></button>
    </div>
  </div>
</div>
